@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap");

/* 
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
