.choose {
  text-align: center;
  padding: 64px 0 96px;
  &-inner {
    h2 {
      font-size: 44px;
      color: #fff;
      margin-bottom: 16px;
    }
    .choose-text {
      font-weight: 400;
      margin-bottom: 32px;
    }
    .choose-word {
      position: relative;
      z-index: 2;
    }
    color: #fff;
    background: $purple;
    padding: 64px 0px;
    border-radius: 15px;
    &__button {
      @include button($colorPurple: false);
      max-width: 170px;
    }
  }

  .border-fr {
    left: calc(28% - 1px);
    bottom: 5;
    width: 0px;
  }

  .border-sc {
    left: calc(64% - 2px);
    width: 0px;
  }
  &:hover {
    .border-fr {
      width: 235px;
    }

    .border-sc {
      width: 250px;
    }
  }
}
