.choose {
  text-align: center;
  padding: 64px 0 96px;
  &-inner {
    h2 {
      font-size: 44px;
      color: #fff;
      margin-bottom: 16px;
    }
    .choose-text {
      font-weight: 400;
      margin-bottom: 32px;
    }
    .choose-word {
      position: relative;
      z-index: 2;
    }
    color: #fff;
    background: $purple;
    padding: 64px 0px;
    border-radius: 15px;
    &__button {
      @include button($colorPurple: false);
      max-width: 170px;
    }
  }

  .border-fr {
    left: calc(33% - 4px);
    width: 0px;
  }

  .border-sc {
    left: calc(61% - 2px);
    width: 0px;
  }
  &:hover {
    .border-fr {
      width: 235px;
    }

    .border-sc {
      width: 250px;
    }
  }
}

@media (max-width: 1475px) {
  .choose {
    .border-fr {
      left: calc(31% - 5px);
    }

    .border-sc {
      left: 63%;
    }
  }
}

@media (max-width: 1275px) {
  .choose {
    .border-fr {
      left: 26%;
    }

    .border-sc {
      left: 63%;
    }
  }
}

@media (max-width: 898px) {
  .choose {
    &-inner {
      padding: 44px 0;
    }
    .border-fr {
      bottom: 65px;
    }

    .border-sc {
      left: 29%;
    }
  }
}

@media (max-width: 708px) {
  .choose {
    .border-fr {
      left: 39%;
    }

    .border-sc {
      left: 38%;
    }
  }
}

@media (max-width: 552px) {
  .choose {
    .border-fr {
      bottom: 124px;
    }

    .border-sc {
      left: 18%;
    }
  }
}

@media (max-width: 532px) {
  .choose {
    .border-fr {
      left: 20%;
    }
  }
}

@media (max-width: 495px) {
  .choose {
    &:hover {
      .border-fr {
        width: 144px;
      }
      .border-sc {
        width: 153px;
      }
    }
    h2 {
      font-size: 28px;
    }

    .border-fr {
      bottom: 40px;
      left: 28%;
    }

    .border-sc {
      left: 27%;
    }
  }
}

@media (max-width: 487px) {
  .choose {
    .border-fr {
      left: 43%;
    }

    .border-sc {
      left: 41%;
    }
  }
}
