@import "../base/variables";

.header {
  background: $cream;
  padding: 24px 0;
  &-inner {
    @include flexCenter();
    justify-content: space-between;
    &__links {
      @include flexCenter();
      gap: 64px;
      ul {
        display: flex;
        gap: 46px;
        li {
          &:hover {
            a {
              color: $golden;
            }
          }
          a {
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
    &__button {
      @include button($colorPurple: true);
    }
  }
}
