.partners {
  padding: 121px 0 75px;
  h2 {
    color: #313131;
    font-family: Exo;
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 40px
  }
  &-inner {
    @include flexCenter();
    justify-content: space-between;
    &__title {
        position: relative;
        .border {
            left: 28%;
            width: 0px;
            transition: all 1s linear;
        }
    }
    &__companies {
      display: flex;
      flex-flow: wrap-reverse;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  &__companies-partner {
    max-width: 267px;
    width: 100%;
    background: $cream;
    border-radius: 10px;
    text-align: center;
    img {
      padding: 37px 36px;
    }
  }
  &:hover {
    .border {
        width: 344px;
    }
  }
}
